In [10]:
import argparse
import os.path
import time
import pandas as pd
import datetime
import configparser 
now = datetime.datetime.now()
print (now.strftime("%Y-%m-%d %H:%M"))

2018-12-30 18:32

In [19]:
config = configparser.ConfigParser()
config.sections()
config.read('config.ini')
input_file=config['DEFAULT']['input_file']
print ('Input file:', input_file)

Input file: sample-imput/activities.csv

In [20]:
df=pd.read_csv(input_file, header=None, delimiter='|')

In [21]:
df.describe()

,0,1,2,3,4,5
count,1000,1000,1000,1000,1000,1000
unique,407,2,703,3,691,1000
top,0000-0001-5738-1893,educations,Universidad Central,RINGGOLD,27979,0000-0001-5123-8893_employments_4445793
freq,9,608,7,907,7,1